// Header
.header {
    background-color: $fc_darkblue;
    color: #fff;
    .header-blocks {
        padding: 20px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .logo-wrapper {
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 8px;
        font-weight: $bold;
    }
}

// Page intro block
.page-intro-block {
    background-color: $fc_offwhite;
}
.intro-blocks {
    padding: 50px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 70vh;
    .left-block,
    .right-block {
        flex: 1 1 50%;
    }
    .right-block {
        text-align: center;
    }
    .intro-content {
        text-align: center;
        p {
            font-size: 23px;
            line-height: 29px;
        }
    }
    .logo-wrapper {
        border: 1px solid $fc_darkblue;
        border-radius: 10px;
        padding: 15px;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 21px;
        font-size: 24px;
    }
    .intro-form {
        display: inline-block;
        width: 75%;
        background-color: #fff;
        padding: 50px;
    }
    .form-head {
        h4 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 15px;
            line-height: 25px;
        }
    }
}

form {
    .form-control {
        height: 50px;
        border-radius: 5px;
        border: 1px solid #e4e4e4;
        font-size: 14px;
        font-family: $primary-font;
    }
    .btn-primary {
        background-color: $fc_lightblue;
        color: #fff;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $fc_lightblue;
        text-transform: uppercase;
        font-size: 15px;
        height: 50px;
        &:hover {
            background-color: $fc_darkblue;
            color: #fff;
        }
    }
    .form-group {
        margin-bottom: 28px;
    }
    .parsley-errors-list {
        text-align: left;
        font-size: 13px;
        margin-bottom: 0;
        color: #f10000;
        position: relative;
        li {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.address-list-block {
    padding: 50px 0;
    background-color: $fc_darkblue;
    color: #fff;
    .address-list-head {
        margin-bottom: 30px;
        h2 {
            color: #fff;
            font-size: 40px;
            line-height: 50px;
        }
    }
    .dataTables_wrapper .dataTables_length, 
    .dataTables_wrapper .dataTables_filter, 
    .dataTables_wrapper .dataTables_info, 
    .dataTables_wrapper .dataTables_processing, 
    .dataTables_wrapper .dataTables_paginate {
        color: #fff;
        font-size: 15px;
    }
    .dataTables_length select,
    .dataTables_wrapper .dataTables_filter input {
        height: 35px;
        border: 1px solid #fff;
        border-radius: 5px;
        font-size: 13px;
    }
    .dataTables_wrapper .dataTables_filter input {
        padding: 5px;
    }
    #address_list {
        padding: 30px 0;
        text-align: left;
        thead {
            background-color: $fc_lightblue;
            border-bottom: 1px solid $fc_lightblue;
        }
        tbody {
            color: $fc_darkblue;
            font-size: 15px;
        }
        .btn-danger,
        .btn-primary {
            font-size: 12px;
            padding: 5px 10px;
        }
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    table.dataTable thead th, table.dataTable thead td {
        border-bottom: 1px solid $fc_lightblue;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 4px 11px;
        color: #fff;
        border-radius: 5px;
        font-size: 13px;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .dataTables_paginate.paging_simple_numbers {
        padding-top: 10px;
    }
    .delete-address, .view-address {
        display: inline-block;
    }
}

.address-modal {
    h6 {
        background-color: $fc_lightblue;
        color: #fff;
        padding: 8px 15px;
        width: 100%;
    }
    .modal-header {
        background-color: $fc_darkblue;
        h5 {
            color: #fff;
        }
    }
    .close,
    .close:hover {
        opacity: 1;
        color: #fff;
    }
    .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
        opacity: 1;
        color: #fff;
    }
    .details {
         
        ul {
            font-size: 15px;
            li {
                margin-left: 30px;
                p {
                    font-size: 15px;
                }
            }
        }
    }
}

.response {
    font-size: 14px;
    color: #fff;
    .success,
    .error {
        padding: 5px;
     }
    .success {
        background-color: green;
    }
    .error {
        background-color: #920000;
    }
}