// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

$primary-font: 'Rubik', sans-serif;
$heading-font: 'Rubik', sans-serif;

$body-font-weight: 400;
$body-font-size: 1rem;
$body-line-height: 1.625rem;
$body-font-color: #1e1c39;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

$heading-color: #1e1c39;


a,
a:hover,
a:focus {
  text-decoration: none!important;
  @include transition-effect(0.3s);
}

a {
  color: #1e1c39;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $heading-color;
  line-height: normal;
  text-transform: capitalize;
  font-weight: $bold;
}
h1, h2 {
  font-size: 50px;
  line-height: 56px;
}
h3 {
  font-size: 45px;
  line-height: 51px;
}
h4 {
  font-size: 42px;
  line-height: 48px;
}
h5 {
  font-size: 20px;
  line-height: 26px;
}
h6 {
  font-size: 18px;
  line-height: 24px;
}

img {
  @include img-config;
}

hr {
  border-top: 1px solid #c0c5c9;
}